# Dependencies
node_modules/

# Build
.next/
out/
dist/
coverage/

# Environment
.env
.env.local
.env*.local
local.env

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo

# Prisma
.prisma/

# Logs
*.log
npm-debug.log*

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db